@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}

p {
  font-weight: 100;
  padding-bottom: 1rem;
  font-size: 18px;
}

a {
  text-decoration: none;
}

a:hover {
  color: grey;
}

li {
  font-weight: 100;
  padding-bottom: 0.5rem;
  font-size: 18px;
}

#app {
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #383838;
}

.h50vh {
  height: 50vh;
}

.shadow-1 {
  filter: drop-shadow(0 0 0.25rem black);
}

.shadow-2 {
  filter: drop-shadow(0 0 0.5rem black);
}

.shadow-3 {
  filter: drop-shadow(0 0 0.75rem black);
}

h1 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
}

h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.container-fluid {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container-flex {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-evenly;
  flex: 1;
}

.container-flex-reverse {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-evenly;
  flex: 1;
  flex-direction: row-reverse;
}

.content-1 {
  padding: 40px;
  background-color: grey;
  z-index: 12;
  width: 40rem;
}

.content-2 {
  padding: 30px;
  background-color: grey;
  z-index: 12;
  max-width: 100%;
}

.content-4 {
  padding: 10px;
  background-color: grey;
  z-index: 12;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-left {
  justify-content: left;
}

.justify-right {
  justify-content: right;
}

.align-center {
  align-items: center;
}

.w-100 {
  width: 100% !important;
}

.w-75 {
  width: 75% !important;
}

.fw-image {
  width: 100%;
  object-fit: cover;
}

.fw-footer-image {
  width: 100%;
  object-fit: scale-down;
}

.image {
  width: 100%;
  height: 22rem;
  object-fit: cover;
}

.profile-image {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  object-fit: cover;
}

.col-9 {
  width: 74%;
  padding: 1rem;
}

.col-6 {
  width: 49%;
  padding: 1rem;
}

.col-3 {
  width: 33%;
  padding: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mb-0 {
  margin-bottom: 0rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-1 {
  margin-top: 1rem;
}

.ml-4 {
  margin-left: 4rem;
}

.mr-0 {
  margin-right: 0rem;
}

.m-1 {
  margin: 1rem;
}

.p-1 {
  padding: 1rem;
}

.p-4 {
  padding: 4rem;
}

.p-2 {
  padding: 2rem;
}

.pb-4 {
  padding-bottom: 4rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pl-2 {
  padding-left: 2rem;
}

.pl-1 {
  padding-left: 1rem;
}

.pt-1 {
  padding-top: 1rem;
}

.m-0 {
  margin: 0;
}

.bg-dark {
  background-color: #181818;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 1500px) {
  .container-flex {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
    flex: 1;
  }

  .col-6 {
    width: 100%;
    padding: 1rem;
  }
}

@media only screen and (max-width: 1164px) {
  .container-flex {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    justify-content: center;
    flex: 1;
  }

  .container-flex-reverse {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    justify-content: space-evenly;
    flex: 1;
    flex-direction: row-reverse;
  }

  .col-6 {
    width: 100%;
    padding: 1rem;
  }

  .justify-md-center {
    justify-content: center;
  }

  .d-flex {
    display: block;
    width: 100%;
  }

  .d-flex-md {
    display: flex;
    width: 100%;
  }

  .hmd100vh {
    height: 100vh;
  }

  .col-md-6 {
    width: 49%;
    padding: 1rem;
  }
}

@media only screen and (max-width: 790px) {
  h1 {
    margin-bottom: 1rem;
    font-size: 2.2rem;
  }

  .container-flex {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    justify-content: space-evenly;
    flex: 1;
  }

  .container-flex-reverse {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    justify-content: space-evenly;
    flex: 1;
    flex-direction: row-reverse;
  }

  .justify-sm-center {
    justify-content: center;
  }

  .d-flex {
    display: block;
    width: inherit;
  }

  .d-flex-sm {
    display: flex;
    width: inherit;
  }

  .w-sm-100 {
    width: 100%;
  }

  .p-sm-0 {
    padding: 0;
  }

  .p-sm-1 {
    padding: 1rem;
  }

  .pb-sm-2 {
    padding-bottom: 2rem;
  }

  .mb-sm-2 {
    margin-bottom: 2rem;
  }

  .hsm100vh {
    height: 100vh;
  }

  .hsm75vh {
    height: 75vh;
  }

  .col-sm-6 {
    width: 49%;
    padding: 1rem;
  }

  .col-sm-12 {
    width: 100%;
    padding: 1rem;
  }

  .sm-hidden {
    display: none;
  }

  .sm-show {
    display: block;
  }
}
