@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}

p {
  font-weight: 100;
  padding-bottom: 1rem;
  font-size: 18px;
}

#app {
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #383838;
}

.shadow-1 {
  filter: drop-shadow(0 0 0.25rem black);
}

.shadow-2 {
  filter: drop-shadow(0 0 0.5rem black);
}

.shadow-3 {
  filter: drop-shadow(0 0 0.75rem black);
}

h1 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
}

h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.container-flex {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-evenly;
  flex: 1;
}

.container-flex-reverse {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-evenly;
  flex: 1;
  flex-direction: row-reverse;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-left {
  justify-content: left;
}

.justify-right {
  justify-content: right;
}

.align-center {
  align-items: center;
}

.w-100 {
  width: 100% !important;
}

.w-75 {
  width: 75% !important;
}

.fw-image {
  width: 100%;
  object-fit: cover;
}

.fw-footer-image {
  width: 100%;
  object-fit: scale-down;
}

.image {
  width: 100%;
  height: 22rem;
  object-fit: cover;
}

.profile-image {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  object-fit: cover;
}

.col-6 {
  width: 49%;
}

.col-3 {
  width: 33%;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mt-4 {
  margin-top: 4rem;
}

.ml-4 {
  margin-left: 4rem;
}

.p-4 {
  padding: 4rem;
}

.p-2 {
  padding: 2rem;
}

.pb-4 {
  padding-bottom: 4rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pl-2 {
  padding-left: 2rem;
}

.pl-1 {
  padding-left: 1rem;
}

.m-0 {
  margin: 0;
}

.bg-dark {
  background-color: #181818;
}
