li {
  padding: 0.5rem;
}

.navbar {
  position: absolute;
  margin-top: 2rem;
  padding: 2rem;
  font-size: 1.2rem;
  width: 90%;
  display: block;
  align-items: center;
  background-color: #181818;
  color: white;
  z-index: 100;
}
.nav-item {
  margin-right: 3rem;
}
.shadow {
  -webkit-filter: drop-shadow(5px 5px 5px black);
  filter: drop-shadow(5px 5px 5px black);
}

.logo {
  width: 4rem;
  margin-right: 1rem;
}

.logo2 {
  width: 18rem;
}

.nav__social {
  width: 2rem;
}

#expandableMenu {
  height: 0;
  overflow: hidden;
}

.transition {
  -moz-transition: height 0.5s;
  -ms-transition: height 0.5s;
  -o-transition: height 0.5s;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}

@media only screen and (max-width: 1164px) {
  .logo {
    width: 3rem;
    margin-right: 1rem;
  }

  .logo2 {
    width: 12rem;
  }

  .nav-item {
    margin-right: 1.7rem;
    font-size: 0.9rem;
  }

  .nav__social {
    width: 1.5rem;
  }
}

@media only screen and (max-width: 790px) {
  .navbar {
    padding: 1.5rem;
    font-size: 1rem;
  }

  .logo {
    width: 3rem;
  }

  .logo2 {
    width: 12rem;
  }

  .nav-item {
    margin-right: 1.5rem;
  }
}
